<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Task Manager</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Task's</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLogged!=true">
        <a class="nav-link" routerLink="/login">Sing in</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLogged!=true">
        <a class="nav-link" routerLink="/register">Sing up</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLogged==true">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
